* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ================ Common ================ */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0px 16px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 24.5px;
    background: #171100;
}

.main-content {
    width: 1170px;
    max-width: calc(100% -48px);
    margin-left: auto;
    margin-right: auto;
}

/* ================ Header ================ */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    color: #5f5b53;

    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
}
.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 6px;
    left: 21px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .sign-up-btn {
    margin-left: 49px;
    min-width: 144px;
}
