* {
    box-sizing: border-box;
}

:root {
    --font-heading: sen, sans-serif;
    --primary-color: #ffb900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ================ Common ================ */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0px 16px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 999px;
    background: #171100;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.main-content {
    width: 1170px;
    max-width: calc(100% -48px);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.max-line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

/* ================ Header ================ */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    color: #5f5b53;

    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
}
.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 6px;
    left: 21px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .sign-up-btn {
    margin-left: 49px;
    min-width: 144px;
}

/* ================ Hero ================ */
.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
    justify-content: space-between;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    object-fit: cover;
    width: 470px;
    height: 685px;
    border-radius: 20px;
    display: block;
}

.hero .hero-summary {
    position: absolute;
    bottom: 48px;
    right: 0;
    width: 270px;
    padding: 24px 24px;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    border-radius: 12px;
}

.hero .hero-summary .item {
    display: flex;
    align-items: center;
    /* margin-bottom: 14px; */
}

.hero .hero-summary .item + .item {
    margin-top: 14px;
}

.hero .hero-summary .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff9e8;
    margin-right: 16px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.hero .hero-summary .item:nth-of-type(2) .icon {
    background-color: #fcefff;
}

.hero .hero-summary .item:nth-of-type(3) .icon {
    background-color: #ebeaff;
}

.hero-summary .label {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.4rem;
    line-height: 1.86;
}

.hero-summary .title {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .content-block {
    width: 52%;
    padding: 64px 0 63px 130px;
}

.heading {
    color: #171100;

    font-family: var(--font-heading);

    font-style: normal;
    font-weight: 700;
    letter-spacing: -1.16px;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17; /* 117.241% */
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.67; /* 117.241% */
}

.hero .desc {
    margin-top: 22px;
    color: #5f5b53;

    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero-cta {
    min-width: 180px;
    line-height: 64px;
    border-radius: 32px;
    background-color: var(--primary-color);
    margin-right: 28px;
}

.hero .watch-video {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    color: #171100;

    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.hero .stats {
    margin: 8px 0 0 -28px;
}

.hero .stats strong {
    padding: 0 8px 0 28px;
    color: #171100;

    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.23; /* 122.727% */
}

/* ================ Popular ================ */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}
.popular .popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .popular-top .desc {
    width: 458px;
    color: #5f5b53;

    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.popular .popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular .popular-top .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    background: transparent;
}

.popular .popular-top .control-btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}

.popular .course-list {
    display: flex;
    margin-top: 55px;
    gap: 30px;
}
.popular .course-item {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}

.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}
.popular .thumb {
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.popular .info {
    margin: 16px 22px 22px 22px;
}

.popular .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .head .title a {
    padding-right: 6px;
    color: #171100;

    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.popular .rating {
    display: flex;
    align-items: center;
}

.popular .rating .value {
    margin-left: 6px;
    color: #fea31b;

    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.popular .info .desc {
    margin-top: 6px;
    color: #5f5b53;

    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
    width: 326px;
}

.popular .foot {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .foot .price {
    color: #171100;

    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.popular .foot .book-btn {
    border: none;
}

.popular .foot .book-btn:hover {
    background: var(--primary-color);
}

/* ================ Feedback ================ */
.feedback {
    background: #2e2100;
    margin-top: 135px;
    padding: 96px 0px;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-shrink: 0;
}

.feedback-item .info .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .info .title {
    color: #f7f7f7;

    font-family: Sen;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.42; /* 141.667% */
    margin-top: 18px;
}

.feedback-item .info .desc {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}

.feedback-item .info .dots {
    display: flex;
    margin-top: 28px;
}

.feedback-item .info .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback-item .info .dot.active {
    background: #ffb900;
    cursor: default;
}

.feedback-item .content {
    width: 63%;
}

.feedback-item blockquote {
    margin-left: 30px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.54; /* 153.846% */
}

/* ================ Feature ================ */
.feature {
    margin-top: 135px;
    padding: 65px 0;
}

.feature .body {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.feature .image {
    display: flex;
    gap: 0 30px;
}

.feature .image img {
    width: 270px;
    height: 405px;
    object-fit: cover;
    border-radius: 16px;
}

.feature .image img.lower {
    margin-top: 34px;
}

.feature .content {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.feature .desc {
    margin-top: 16px;
    color: #5f5b53;

    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.feature .cta-btn {
    margin-top: 32px;
    min-width: 137px;
    color: #fff;
    background: var(--primary-color);
}

.feature-2nd {
    margin-top: 70px;
}

.feature-2nd .body {
    flex-direction: row-reverse;
}

.feature-2nd .content {
    width: 49%;
}

.feature-2nd .image img {
    width: 470px;
    height: 440px;
}

/* ================ Blog ================ */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #fffcf4;
}

.blog .blog-top {
    text-align: center;
}

.blog .blog-top .desc {
    width: 448px;
    margin: 16px auto 0 auto;
    color: #696262;

    font-size: 1.6rem;
    font-style: normal;
    line-height: 1.75;
}

.blog .blog-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.blog .item {
    width: 33.33%;
    border-radius: 16px;
    background: #fff;
}

.blog .item:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.blog .item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.blog .info {
    padding: 20px 20px 28px;
}

.blog .info .date {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-bottom: 12px;
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86; /* 185.714% */
}

.blog .info .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 4px;
    border-radius: 50%;
    background: var(--primary-color);
}

.blog .info .date::after {
    position: absolute;
    left: 0;
    bottom: 0px;
    right: -27px;
    content: "";
    display: inline-block;
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blog .item .title a {
    display: inline-block;
    margin: 12px 0;
    color: #171100;

    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.blog .item .btn {
    font-size: 1.4rem;
}

.blog .item .btn:hover {
    background: var(--primary-color);
}
