* {
    box-sizing: border-box;
}

:root {
    --font-heading: sen, sans-serif;
    --primary-color: #ffb900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ================ Common ================ */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0px 16px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 999px;
    background: #171100;
}

.btn:hover {
    opacity: 0.9;
}

.main-content {
    width: 1170px;
    max-width: calc(100% -48px);
    margin-left: auto;
    margin-right: auto;
}

/* ================ Header ================ */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    color: #5f5b53;

    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
}
.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 6px;
    left: 21px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .sign-up-btn {
    margin-left: 49px;
    min-width: 144px;
}

/* ================ Hero ================ */
.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
    justify-content: space-between;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    object-fit: cover;
    width: 470px;
    height: 685px;
    border-radius: 20px;
    display: block;
}

.hero .hero-summary {
    position: absolute;
    bottom: 48px;
    right: 0;
    width: 270px;
    padding: 24px 24px;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    border-radius: 12px;
}

.hero .hero-summary .item {
    display: flex;
    align-items: center;
    /* margin-bottom: 14px; */
}

.hero .hero-summary .item + .item {
    margin-top: 14px;
}

.hero .hero-summary .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff9e8;
    margin-right: 16px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.hero .hero-summary .item:nth-of-type(2) .icon {
    background-color: #fcefff;
}

.hero .hero-summary .item:nth-of-type(3) .icon {
    background-color: #ebeaff;
}

.hero-summary .label {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.4rem;
    line-height: 1.86;
}

.hero-summary .title {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .content-block {
    width: 52%;
    padding: 64px 0 63px 130px;
}

.heading {
    color: #171100;

    font-family: var(--font-heading);

    font-style: normal;
    font-weight: 700;
    letter-spacing: -1.16px;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17; /* 117.241% */
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.67; /* 117.241% */
}

.hero .desc {
    margin-top: 22px;
    color: #5f5b53;

    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero-cta {
    min-width: 180px;
    line-height: 64px;
    border-radius: 32px;
    background-color: var(--primary-color);
    margin-right: 28px;
}

.hero .watch-video {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    color: #171100;

    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.hero .stats {
    margin: 8px 0 0 -28px;
}

.hero .stats strong {
    padding: 0 8px 0 28px;
    color: #171100;

    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.23; /* 122.727% */
}

/* ================ Popular ================ */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}
.popular .popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .popular-top .desc {
    width: 458px;
    color: #5f5b53;

    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.popular .popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular .popular-top .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    background: transparent;
}

.popular .popular-top .control-btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}
